.header {
  margin-bottom: 15px;
  background: #fff;
  object-fit: contain;
  padding: 0px 40px 0px 100px;
  height: 54px;
  border-bottom: 1px solid lightgray;
  display: flex;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header__image {
  object-fit: contain;
}
.header__links {
  display: flex;
  flex-direction: row;
}
.header__links > div {
  margin-left: 15px;
}

.header__addPost {
  border-radius: 50%;
  height: 25px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.header__addPost img {
  height: 100%;
}

.header__addPost:hover {
  background: #bababa;
  transform: scale(1.1);
}

.header__avatar {
  cursor: pointer;
}

.header__profileOptionMain {
  outline: none;
  right: 10px;
  width: 200px;
  top: 50px;
  position: absolute;
  transition-duration: 0.4s;
  transition: opacity 0.4s 0s, transform 0.4s 0.2s;
}

.header__profileOption {
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.0975);
  background: #fff;
  z-index: 3;
  border-radius: 6px;
}
.header__rotateDiv {
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  position: absolute;
  left: 150px;
  top: -6px;
  box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.0975);
  -webkit-box-shadow: -3px -3px 5px 0px rgba(0, 0, 0, 0.0975);
  bottom: 0;
  background: #fff;
  border: 1px solid #fff;
}

@media only screen and (max-width: 700px) {
  .header {
    padding: 0px 10px 0px 10px;
  }
  .header__rotateDiv {
    left: 150px;
  }
  .header__profileOptionMain {
    right: 0;
    width: 180px;
  }
}
