.post {
  max-width: 600px;
  background: #fff;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post__image {
  width: 100%;
  object-fit: contain;
  margin: auto;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__image_like {
  position: absolute;
  filter: brightness(5) drop-shadow(2px 2px 2px rgb(51, 51, 51));
  animation: likeGrowing 1s linear;
  height: 100px;
  width: 100px;
  z-index: 1;
}
@keyframes likeGrowing {
  0%,
  to {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: scale(0);
  }
  15% {
    opacity: 0.9;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  30% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  45%,
  80% {
    opacity: 0.9;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.post__text {
  font-weight: normal;
  padding: 15px;
}

.post__header,
.post__header > div {
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__avatar {
  margin-right: 10px;
  width: 10px;
  height: 10px;
}
.post__username {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  line-height: 18px;
}
.post__options {
  position: relative;
  border: none;
  right: 0;
  background: none;
  cursor: pointer;
}
.post__options > img {
  height: 22px;
  width: 18px;
}
.post__actions {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.comment {
  margin-left: 15px;
  transform: scaleX(-1);
}
.post__action {
  height: 26px;
  width: 26px;
  cursor: pointer;
}
.like,
.comment {
  height: 100%;
  width: 100%;
}
.post__comments {
  padding: 15px;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
  height: min-content;
}

.post__input {
  flex: 1;
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
  outline: none;
}

.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  color: #0095f6;
  background: none;
}
.post__button:disabled {
  opacity: 0.5;
}

@media only screen and (max-width: 700px) {
  .post {
    margin: 0;
  }
}
